.list-title {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  box-sizing: border-box;
  height: 3%;
}

.list-content {
  box-sizing: border-box;
  height: 95%;
  margin-top: 20px;
  overflow-y: auto;
}

.title-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
}
