.tag {
  border: 1px solid #39517e;
  border-radius: 4px;
  background-color: rgba(14, 29, 70, 0.397);
  color: rgb(255, 255, 255);
  font-size: 13px;
  line-height: 1.5;
  padding: 0.5em 1em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}
