.btn-primary,
.btn-secondary {
  height: fit-content;
  width: fit-content;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  transition: linear 0.2s;
  cursor: pointer;
  &:hover {
    transition: linear 0.2s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

.btn-primary {
  background-color: #1441d3;
  color: #fff;
  &:hover {
    background-color: #042db3;
  }
}

.btn-secondary {
  background-color: rgb(238, 238, 238);
  color: #2a3147;
  &:hover {
    background-color: #d4d4d4;
    color: #000;
  }
}
