.server-stats-titlebar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  box-sizing: border-box;
  height: fit-content;
  width: 100%;
}

.server-stats-content {
  box-sizing: border-box;
  height: fit-content;
  width: 100%;
  margin-top: 20px;
  overflow-y: auto;
}

.server-chart {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;
  padding: 0;
}

.terminal-wrapper {
  height: 300px;
  overflow: auto;
}
